{
  "blacklist": [
    "es6.forOf",
    "es6.templateLiterals",
    "es6.constants",
    "es6.properties.computed",
    "es6.properties.shorthand",
    "regenerator"
  ],
  optional: [
    "asyncToGenerator"
  ]
}